
.ol {
    margin-left: 60px;
   padding-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.li{
    padding-top: 20px;
    margin-left: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.olp{
    margin-left: 60px;
    padding-right: 20px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.olc{
    margin-left: 60px;
    padding-right: 20px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lic{
    margin-left: 60px;
    padding-top: 20px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lip{
    margin-left: 60px;
    padding-top: 20px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.panda{
    border: outset;
    border-color: slategray;
    border-radius: 10px;
}
.bird{
    
    border:outset;
    border-color: turquoise;
    
}
.camel{
    border:outset;
    border-color:sandybrown;
}
.bodytag{
    display: inline;
    background-color: lavenderblush;
}
.copy{
    
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif ;
    color : white;
    
     background-image: url(black.jpg);
    
} 
 .caption{
     caption-side: top;
 }
 .parentDiv{
     display: inlines;
 }
 .followus:hover{
    opacity: 0.5;
 }
 .aboutus:hover{
     opacity: 0.5;
 }
 .pandaA:hover{
     transform: scale(1.2);
 }
 .birdA:hover{
     transform: scale(1.2);
 }
 .camelA:hover{
     transform: scale(1.2);
 }
  